body {
    background: whitesmoke;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    
}

#main-container{
    display : block;
    margin-top: 5%;
    
}

#info {
    display : flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 150px;

}

.info-header{
    font-size: small;
    margin-bottom: 5%; 
    font-weight: 500; 
    color: #828b8b; 
    display: block;
}

.info-value{
    font-size: large;
    font-weight: 600; 
    color: #353a3a;
}

#scene {
    width: 600px;
    height: 300px;
    position: relative;
    
}

#seesaw {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
}

#plank {
    transform: rotate(var(--tilt, 0deg)); 
    transition: transform 3s ease;
    transform-origin: 50% 50%;
    width: 450px;
    height: 14px;
    background: #e96711;
    border-radius: 6px;
    position: relative;
    z-index: 101;
}

#pivot {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #813b0b;
    position: absolute;
    left: 50%;
    bottom: -20px;
    z-index: 100;
    transform: translateX(-50%);
}


.visualized-weight{
    bottom: 1000%; 
    opacity: 0.6; 
    border-radius: 50%; 
    position: absolute; 
    line-height: 35px;
    text-align: center;
    color: white; 
    font-size: small; 
    font-weight: 600;
}


.visualized-marker{
    position: absolute; 
    border-left: 1px dashed black; 
    bottom: 100%;
    opacity: 0.4;
}

@keyframes drop {
  from { transform: translateY(-500%); }
  to   { transform: translateY(-100%); }
}

.new-weight{
    animation: drop 0.5s ease-out forwards;
    opacity: 1;
    border-radius: 50%; 
    position: absolute; 
    line-height: 35px;
    text-align: center;
    color: white; 
    font-size: small; 
    font-weight: 600;
}

#resetContainer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#resetButton{
    cursor : pointer;
    color: white;
    padding: 2% 4% 2% 4%;
    border: 1px solid rgb(114, 147, 235);
    background-color: rgb(114, 147, 235);
    border-radius: 12px;
}

#log {
  margin-top: 5%;
  max-height: 250px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

.log-item {
  border: 1px solid #dcdcdc;
  border-left: 5px solid lightskyblue;
  border-radius: 4px 0 0 4px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 0.85rem;
  word-break: break-word;
}